<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title >about page</title>
</head>
<body>
	<section>
	
	<div style="padding: 10%;" class="container text-center">
	
	<div class="rowss">
	<h1>OOPs!</h1>
	<div >
	<h3 >Please try to login by using correct credentials!</h3>
	</div>
	
	  <div id="register-link" class="text-right ">
                                <a href="/signin" class="text-info">Go Back to login</a>
                            </div>
	</div>
	
	</div>
	</section>
</body>
</html>