<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Signup page</title>
</head>

<body>
	<section>

		<div class="container">

			<div class="row">

				<div class="col-md-6 offset-md-2">
					<div class="my-card mt-2">
						<!--
<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert"">
  
  <p th:text="${session.message.content}"></p>
  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
  
</div> -->


						<div class="container text-center">

							<img style="width: 80px;" th:src="@{/images/contract.png} " />
						</div>


						<h1 class="text-center">Register here !!</h1>

						<form  th:action="@{/success}" method="post" th:object="${user}">

							<!-- Name field-->

							<div class="mb-3">
								<label for="name" class="form-label">Your Name</label>

								<input type="text" 
								class="form-control "
						 
								id="name" required placeholder="Enter your name"
									th:value="${user.name}" 
									name="name" />
								
								        <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
							</div>

							<!-- Email field-->

							<div class="mb-3">
								<label for="emails" class="form-label">Your Email</label>

								<input type="email" class="form-control" id="emails" required
									placeholder="Enter your email" th:value="${user.email}" name="email" />

							</div>

							<!-- Password field-->

							<div class="mb-3">
								<label for="pass" class="form-label">Your Password</label>

								<input type="text" class="form-control" id="pass" required
									placeholder="Enter your password" name="password" />

							</div>

							<div class="form-control">

								<textarea name="about" placeholder="say something about yourself" rows="5"
									class="form-control" th:value="${user.about}" 
									required></textarea>
							</div>
							<div class="form-group form-check">
								<input type="checkbox" name="agreement" class="form-check-input" id="agreement"
									required />
								<label for="agreement">Accept terms and conditions</label>


							</div>

							<div class="col-12 text-center">
								<button type="submit" class="btn bg-primary text-white">Submit</button>
								<button type="reset" class="btn btn-warning  text-white">Reset</button>
							</div>



						</form>




					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>