<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title >Success page</title>
</head>
<body>
	<section>
<div class="succ text-center mt-10">
	<h1>REGISTERED SUCCESSFULLY!!!</h1>
			<div class="col-sm-12 d-flex justify-content-center">
         <span><a class="btn custom-smile-btn-back mr-1 ml-1" onclick="@{/signup}"><span class="icon"> <i
                         class="fas fa-angle-double-left mr-2"></i></span><span
                     class="text">Back</span></a></span>
     </div>
</div>
	
	</section>
</body>
</html>